%% Configuration file for Fanterlastic Four.

[{fanterlasticfour,
  [
   %% Ports for the different processes.
   {echoTCPPort, 7},
   {echoUDPPort, 7},
   {chargenTCPPort, 19},
   {chargenUDPPort, 19},
   {daytimeTCPPort, 13},
   {daytimeUDPPort, 13},
   {timeTCPPort, 37},
   {timeUDPPort, 37},

   %% Offset, it will be added to all the ports.
   {portOffset, 0}]}].
