%% Configuration file for Fanterlastic Four.

[{fanterlasticfour,
%%  Service    ports    ips  transports
  [{echo},
   {chargen, [{default, all, both}]},
   {daytime, [{default, all, tcp},
              {default, all, udp}]},
   {time,    [{37,      all, tcp},
              {37,      all, udp}]}
  ]
 }
]
